@font-face {
    font-family: "CustomFont";
    /* Give it a name */
    src: url("../assets/fonts/Atop.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: "CustomFont", Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}




.cloud {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: #6CCCD4;
}

.cloud img:nth-child(1) {
    position: absolute;
    width: 35%;
    animation: one 15s linear infinite;
    transform: translate(20%, 30%);
}

@keyframes one {
    0% {
        transform: translate(20%, 30%);
    }

    50% {
        transform: translate(160%, 30%);
    }

    100% {
        transform: translate(20%, 30%);
    }
}

.cloud img:nth-child(2) {
    position: absolute;
    z-index: -1;
    width: 20%;
    transform: translate(360%, 160%);
    animation: two 15s linear infinite;
}

@keyframes two {
    0% {
        transform: translate(360%, 160%);
    }

    50% {
        transform: translate(30%, 160%);
    }

    100% {
        transform: translate(360%, 160%);
    }
}

.cloud img:nth-child(3) {
    position: absolute;
    width: 40%;
    transform: translate(55%, 100%);
    animation: three 15s linear infinite;
}

@keyframes three {
    0% {
        transform: translate(55%, 100%);
    }

    25% {
        transform: translate(30%, 100%);
    }

    75% {
        transform: translate(160%, 100%);
    }

    100% {
        transform: translate(55%, 100%);
    }
}

#jungle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -55%);
    z-index: -2;
    width: 120%;
    bottom: 0px;
    animation: jungle .5s ease-in;
}

@keyframes jungle {
    from {
        transform: translate(-50%, -15%);
    }
}






.middle {
    width: 45%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: miggle .5s ease-in;
    display: none;
}

@keyframes miggle {
    from {
        opacity: 0;
        transform: translate(-50%, -40%);
    }
}


.middle img {
    width: 100%;
}

.mOption {
    display: flex;
    justify-content: center;
}

.mOption svg {
    width: 60px;
    cursor: pointer;
}

.mOption svg:hover {
    transform: scale(0.9);
}

.cornerButtons {
    width: 100%;
    height: 100vh;
    position: relative;
}

.cornerButtons svg {
    position: absolute;
    width: 60px;
    cursor: pointer;
}

.cornerButtons svg:hover {
    transform: scale(0.9);
}

#htp {
    left: 20px;
    top: 20px;
    animation: htp .5s ease-in;
    display: none;
}

@keyframes htp {
    from {
        opacity: 0;
        left: -60px;
    }
}

#logOut {
    left: 20px;
    bottom: 20px;
    position: absolute;
    width: 60px;
    cursor: pointer;
    animation: lo .5s ease-in;
    display: none;
}

@keyframes lo {
    from {
        opacity: 0;
        left: -60px;
    }
}

#logOut:hover {
    transform: scale(0.9);
}

#settings {
    top: 20px;
    right: 20px;
    animation: sett .5s ease-in;
    display: none;
}

@keyframes sett {
    from {
        opacity: 0;
        right: -60px;
    }
}

#highScore {
    bottom: 20px;
    right: 20px;
    animation: hs .5s ease-in;
    display: none;
}

@keyframes hs {
    from {
        opacity: 0;
        right: -60px;
    }
}






/*--------------------------------------- tabs universal -----------------------------------------------*/
.tabs {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.41);
    z-index: 1999;
    width: 100vw;
    height: 100vh;
    top: 0px;

}

.tab {
    height: fit-content;
    width: 60%;
    height: fit-content;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2000;
    position: relative;
    display: none;

    justify-content: center;
    align-items: center;
}

.tab.active {
    display: flex;
}

.tab #board {
    width: 100%;
}

.close {
    position: absolute;
    right: 40px;
    top: 40px;
    width: 50px;
    cursor: pointer;
    transform: rotateZ(45deg);
}



/*--------------------------------------- settings -----------------------------------------------*/

.tabIn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: #424242;
    font-size: 2.5vw;

}

.tabIn h2 {
    width: 50%;
}

.tabIn img {
    width: 70%;
    margin-left: 20px;
    cursor: pointer;
    margin-top: 15px;
}

.tabIn div {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;

    margin: 20px;
}



/*--------------------------------------- how to play -----------------------------------------------*/

.para {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: #424242;
    height: 45vh;
    width: 60%;
    overflow: hidden;
    overflow-y: scroll;
}

.para::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.para::-webkit-scrollbar-track {
    background: #ffd0ad;
    border-radius: 15px;
}

/* Handle */
.para::-webkit-scrollbar-thumb {
    background: #AA6028;
    border-radius: 15px;
}

/*--------------------------------------- high score -----------------------------------------------*/

.table {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -50%);
    padding-right: 30px;
    color: #424242;
    height: 45vh;
    width: 70%;
    overflow: hidden;
    overflow-y: scroll;
}

table {
    width: 100%;
   
}
table th{
}

table td {
    text-align: center;
    width: 50%;
    color: #AA6028;
}

.table::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.table::-webkit-scrollbar-track {
    background: #ffd0ad;
    border-radius: 15px;
}

/* Handle */
.table::-webkit-scrollbar-thumb {
    background: #AA6028;
    border-radius: 15px;
}



/*--------------------------------------- log Out -----------------------------------------------*/

.logoutIn {
    width: 70%;
}

.logoutIn div:nth-child(2) {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;

    justify-content: center;
    margin: 20px;
}

.logoutIn div:nth-child(1) {

    display: flex;
    justify-content: center;
}

.logoutIn h2 {
    width: 100%;
    text-align: center;
}

.logoutIn img {
    width: 60px;
    margin-top: 0px;
}

.logoutIn #no{
    transform: rotateZ(45deg);
}

.logoutTab #board {
    width: 80%;
}



/*--------------------------------------- Start Game -----------------------------------------------*/

.startGame .tabIn button{
    padding: 10px 20px;
    border: 0px;
    border-radius: 25px;
    background-color: #AA6028;
    cursor: pointer;
    color: white;
    transition: .5s;
}
.startGame .tabIn button:hover{
    background-color: #e7c500;
}
.startGame #board{
    width: 70%;
}

.startGame .close {
    position: absolute;
    right: 18%;
    top: 5%;
    width: 50px;
    cursor: pointer;
    transform: rotateZ(45deg);
}
.startGame .tabIn div{
    display: flex;
    justify-content: center;
}

.startGame .tabIn input{
    border-radius: 25px;
    outline: none;
    padding: 10px;
    border: 0px;
}